{% extends "fileshare/base.html" %}
{% block style %}
<style>
.head1{
    margin: 0px;
    margin-top: .5rem;
    /* background-color: #f7f7f7; */
    background-color: #d1d1d1;
    border-radius: .3rem;
    padding-left: .5rem;
    position: static;
    display: flex;
}
.head1 h3{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    width: fit-content;
    /* display: contents; */
}
.head1 div{
    /* position: absolute;
    top: 0.2rem;
    right: .2rem; */
    /* display: flex;
    align-items: flex-end; */
    margin: .8rem 1rem 0rem auto;

}
#top{
    width: 90%;
    margin: auto;
    /* padding-top: .001rem; */
    background: #e5e5e8;
    padding: 1rem;
}

        #output {
            background-color: black;
            color: white;
            width: 100%;
            padding: 1rem;

        }

        #code {
            width: 100%;
            padding: 2rem 2rem;
    font-weight: 600;
    font-size: 109%;
    border: 2px solid black;
    border-radius: .5rem;
    background-color: rgb(0, 0, 218);
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 800;

}

        #inp{
            width: 100%;
            height: 80%;
            border: 2px solid black;
    border-radius: .5rem;
    padding: 1rem;
        }
        #codediv{
            width: 100%;
            display: flex;
            /* margin: auto; */

        }
        .combo{
            display: flex;
            
        }
        #odiv{
            width: 70%;
            
        }
        #inpdiv{
            width: 30%;
            
        }
        #output{
            border: 2px solid black;
            height: 80%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    width: 100%;
        }
        #run{
            width: 10rem;
            border: 2px solid black;
            border-radius: .4rem;
            background-color: #d1d1d1;
            
            
        }
        
        #numbering p{
            padding: 0px !important;
            margin: 0px !important;
            font-weight: 600;
    font-size: 109%;
        }
        #numbering{
            padding-top: 2rem;
            display: none;
        }
        html {
            scroll-behavior: smooth;
            scroll-padding: 35%;
        }
        #two{
            margin: 3rem;

        }
        .container1{
            display: flex;
            margin: 1rem;
            background-color: #cfcfcf;
            padding: 1rem;
            border-radius: .4rem;
            height: 3.6rem;
            
        }
        @keyframes deleteanimation {
            0%{
                opacity: 100%;
               height: 3.6rem;
               padding: 1rem;
            }
            75%{
                opacity:0%;
              height: 3.6rem;
              padding: 1rem;  
                
            }
            100%{
                padding: 0rem;
                opacity: 0%;
                height: 0rem;
            }
        }
        
        .container1 div{
            margin-left: auto;
        }
        .container1 strong{
            width: fit-content;
        }
        #top button{
            border-radius: .4rem;
            font-weight: 600;
            background-color: #3535fb;
            color: white;
        }

        #top input{
            border-radius: .4rem;
        }
        .delete{
            background-color: #f70000 !important;
            color: white !important;
        }
        
        .danim{
            /* animation-timing-function: ease-in-out; */
            animation-name: deleteanimation;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            /* animation-play-state: paused; */
        }
     .download{
         background-color: rgb(4, 160, 4) !important;
     }
     .fid{
         display: none;
     }
      .container1 button :hover{
         cursor: pointer !important;
     }
     .container1 a{
         color: white;
         text-decoration: none;
     }


     @media only screen and (max-width: 425px){
	#two{
        margin: 0px;
    }
}

</style>

{% endblock %}
{% block body %}
<div id="top">
<div class="head1"> <h3>All Files</h3> <div><input type="text" placeholder="File Name" id="searchname" onkeyup="searchfile()"> <button type="button" onclick="searchfile()">Search</button></div></div>

<div id="two">
    
    {% for f in files %}
       
        <div class="container1">
            <strong ><span class="fname">{{ f.name }}</span></strong>
            <div><input type="text" class="fid" value="{{ f.f_id }}">
            <button class="download"><a href="{{ f.file.url }}" download>Download</a> </button>  <button class="delete deletz" onclick="deletefile(this)">Delete</button></div>
        </div>    
    
    
    {% endfor %}
</div>




</div>
</div>
{% endblock %}

{% block java %}
<script>
    function deletefile(e){
        let url = "{% url 'delefile' %}"
        let a = e.parentElement;
        console.log(a)
        let fid = a.querySelector(".fid").value;
        let container = a.parentElement;
        let f = container.querySelector("a");
        
        fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                title: 'New Pirate Captain',
                body: 'Arrrrrr-ent you excited?',
                userId: 3,
                "fid":fid
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(function (response) {
            let me = document.querySelector("#label1")
            if (response.status == 200) {
                container.classList.add("danim");
                container.addEventListener("animationend",()=>{
                    container.remove();
                })
                return response.json();
            }
            
            return Promise.reject(response);
        }).then(function (data) {
            
            // console.log(data);
        }).catch(function (error) {
            
        });
        
    }

    function searchfile(){
        console.log("hello")
        var fli = [];
        var se = document.querySelector("#searchname").value;
        document.querySelectorAll(".fname").forEach((ele)=>{
            let s = ele.innerHTML;
            if (s.search(se)>=0){
                if (se==""){
                    document.querySelectorAll(".container1").forEach((ct1)=>{
                        ct1.style.display = "flex"
                    })
                }
                let a2 = ele.parentElement;
                let b2 = a2.parentElement;
                b2.style.display = "flex";
            }
            else{
                let a = ele.parentElement;
                let b = a.parentElement;
                b.style.display = "none";
            }
        })
    }
</script>
{% endblock %}